body{background-color: rgb(4, 0, 19); padding: 2rem 4rem;}
*{text-decoration: none; list-style: none; box-sizing: border-box; margin: 0; padding: 0; border: none; font-size: xx-large; color: whitesmoke; font-weight: 100; font-family: 'Montserrat', sans-serif;}


nav{position: absolute; right: 0; margin: 0 2rem; z-index: 1000;}
nav a{transition: all .8s; margin-right: -2rem; visibility: collapse; opacity: 0; cursor: pointer;}
nav i{font-size: 1.5rem; color: lightblue;}
nav:hover a{margin-right: 2.5rem; visibility: visible; opacity: 1;}

/*Self*/
.about-me{display: grid; grid-template-columns: repeat(2,1fr); width: 100%; justify-content: center;}
#about-me-text{display: block; position: relative; width: 70%;}

/*Title*/
.title{font-family: 'Josefin Slab', serif; font-size: 3rem; font-weight: lighter; text-align: left; line-height: 2.5rem; padding-bottom: 1.5rem;}

/*Age Profession Level*/
.description{display: grid; grid-template-columns: repeat(5,1fr); position: relative; z-index: 100;}
.description h1{font-family: 'Julius Sans One', sans-serif; font-size: 0.5rem; color: lightskyblue; text-align: center; margin: 0 auto; width: max-content;}
.description h1 > p{font-size: 0.4rem; position: relative; opacity: 0; right: 0; left: 0; transform: translateY(-50%); transition: all .5s;}
.description h1:hover .dob{opacity: 1; transform: translateY(30%);}
.description h1:hover .profession{opacity: 1; transform: translateY(30%);}
.description i{font-size: 0.4rem; text-align: center; color:palegoldenrod;}

/*Summary*/
.details{position: relative; left: 2rem; padding: 1rem 0; width: 100%; display: grid; grid-template-columns: repeat(1,1fr); line-height: 0.8rem;}
.details p{font-size: 0.5rem;}

/*Language*/
.details i{padding-top: 0.7rem; padding-bottom: 0.3rem; font-size: 1rem; color: lightskyblue; display: grid; grid-template-columns: repeat(2,0fr);}
.details i > h1{font-size: 0.7rem; color: lightskyblue; line-height: 1.2rem; padding-left: 0.2rem; font-family: 'Julius Sans One', sans-serif;}

/*Github Projects*/
.details a{font-size: 0.5rem; transition: all .5s;}
.details a:hover{opacity: 0.7;}

/*Line*/
.about-me hr{width: 15rem; overflow: hidden; transform: rotate(90deg); position: relative; color: palegoldenrod; bottom: 10rem; border-style: solid; border-width: 1px;}
.hr1{display: block; left: -8rem;}
.hr2{display: none;}

/*Self*/
#background-self{position: relative; height: 100%; margin: auto; left: 0; right: 0; justify-content: center; width: 100%;}
.back-self{background-image: url(self.jpg); background-position: center; background-size: cover; background-repeat: no-repeat; height: 100%; border-radius: 0 50%; box-shadow: 0 0 5rem rgba(135, 206, 250, 0.5);}
#background-self0{display: none;}
.contact0{display: none;}

/*Email & Phone*/
.contact{position: relative; display: flex; justify-content: right; height: 100%; align-items: flex-end; padding: 1rem;}
.contact i{font-size: 1.5rem; letter-spacing: 1rem; text-align: center; opacity: 0.7; transition: all .5s; cursor: pointer; color: rgb(4, 0, 19);}
.contact i:hover{opacity: 1; text-shadow: 0 0 0.2rem rgba(4, 0, 19, 0.5);}
button{background-color: transparent;}
.contact0 button{display: none;}

/*Send E-mail*/
#mail{display: none; border: 1px solid; width: 100%; height: fit-content; padding: 1.5rem; text-align: center; align-items: flex-start; margin-top: -6rem; position: relative;}
#mail h6{font-family: 'Julius Sans One', sans-serif; font-size: 1.5rem; font-weight: lighter; color: lightblue;}
#mail p{font-size: 0.7rem; color: palegoldenrod;}
form{padding: 1rem;}
.mail-details{font-size: 0.5rem; text-transform: capitalize; display: inline-block; width: 100%; padding: 0 0.3rem; line-height: 1rem; background-color: rgba(245, 245, 245, 0.2);}
textarea{margin: 0.5rem auto;}
.submit{color: palegoldenrod; background-color: transparent; border: 1px solid; padding: 0.5rem; cursor: pointer; width: 5rem; transition: all .5s;}
.submit:hover{opacity: 0.7;}

/*Back to Self*/
#mail i{font-size: 2rem; opacity: 0.7;}
#mail button{background-color: transparent; display: flex; transition: all .5s; cursor: pointer;}
#mail button:hover{opacity: 1; transform: translateX(-0.5rem);}



/*Certificates*/
.card {width: 60%; height: auto; position: relative; left: 0; right: 0; margin: 5rem auto;}
.card .image {width: 100%; height: 100%; overflow: hidden;}
.card .image img {width: 100%; transition: .8s; border: 1rem double goldenrod; background-color: darkgoldenrod;}
.card:hover .image img {opacity: .5; transform: translateX(20%);}
.card .details {position: absolute; top: 0; left: 0; width: 70%; height: 100%; background: palegoldenrod; transition: .8s; transform-origin: left; transform: perspective(2000px) rotateY(-90deg);}
.card:hover .details {transform: perspective(2000px) rotateY(0deg);}
.card .details .center {padding: 1rem 0.5rem; text-align: center; background: white; position: absolute; top: 50%; transform: translateY(-50%); right: 0; left: 0;}
.card .details .center h1 {font-family: 'Julius Sans One', sans-serif; padding-bottom: 0.5rem; color: rgb(4, 0, 19);}
.card .details .center p {font-family: 'Josefin Slab'; font-size: 0.7rem; font-weight: bold; color: darkslategray;}
.about-course{overflow: auto;}
.about-course img{width: auto; height: 1.5rem;}

@media (min-width:481px) and (max-width:768px){
  .card .image img {border: 0.5rem double goldenrod;}
  .card {width: 100%;}
  .card .details {width: 100%;}
}



/*Jobs*/
.course h5{font-family: 'Josefin Slab', serif; font-size: 3rem; font-weight: lighter; text-align: center; margin: auto;}

.about-certificates{width: 100%; display: inline-table;}
.certificates{width: 100%; margin: 5rem auto; display: grid; grid-template-columns: repeat(2,1fr); }
.img-certificate{height: auto; width: 80%; margin: auto; border: double 0.7rem; color: goldenrod; background-color: darkgoldenrod;}
.certificates h3{font-family: 'Julius Sans One', sans-serif; font-size: smaller; text-align: center; border-radius: 1rem 1rem 0 0 ; background-color:rgba(25, 25, 112, 0.7); padding: 1rem;}
.certificates h2{font-family: 'Josefin Slab'; font-size: smaller; font-weight: bold; color: darkgoldenrod; padding: 0.3rem 1rem;}
.certificates p{font-family: 'Josefin Slab'; font-size: 0.6rem; font-weight: bold; color: black; padding: 0.3rem 1rem;}
.about-course{overflow: auto;}
.about-course img{width: auto; height: 1.5rem;}

.ballon{border-radius: 1rem; width: 80%; height: 100%; background-color: lavender; position: relative; top: 50%; transform: translateY(-50%);}
.ballon:after{content: ""; width: 0;  height: 0; bottom: 1rem; position: absolute; border-top: 3rem solid transparent; border-bottom: 3rem solid transparent; z-index: -1; border-radius: 50%;}

.description-certificates{margin-left: auto;}
.description-certificates:after{left: -1.5rem; border-right: 3rem solid lavender;}

.description-certificates2{margin-right: auto;}
.description-certificates2:after{right: -1.5rem; border-left: 3rem solid lavender}



















/*320px — 480px: Mobile devices*/
@media (min-width:320px) and (max-width:480px){
  *{font-size: small;}
}

/*481px — 768px: iPads, Tablets*/
@media (min-width:481px) and (max-width:768px){
  *{font-size: large;}
  /*Self*/
  #background-self{display: none;}
  .back-self{display: none;}
  .contact{display: none;}
  #background-self0{background-image: url(self.jpg); background-position: 60% 40%; background-size: cover; background-repeat: no-repeat; width: 100%; height: 17rem; top: 0; right: 0; left: 0; display: flex;}
  .about-me{padding: 0;}
  #about-me-text{width: 100%; margin: auto; position: absolute;}
  /*Title*/
  #about-me-text h5{text-align: right; justify-content: right; padding: 1rem; width: 100%; text-shadow: 0 0 0.5rem black; position: absolute; top: 12rem;}
  /*Age Profession Level*/
  .description{width: 80%; margin: auto; padding-top: 1.5rem;}
  /*Summary*/
  .details p,a,i{left: 0; right: 0; width: 60%; margin: auto;}
  /*Github Projects*/
  .details{left: 0; right: 0; margin: auto; width: 80%; text-align: center;}
  .details i{justify-content: center;}
  /*Line*/
  .about-me hr{display: block; width: 15rem; margin: auto; bottom: 10rem;}
  .hr1{left: 35%;}
  .hr2{right: 35%;}
  /*Email & Phone*/
  .contact0{display: inline-table; position: absolute; padding: 1rem;}
  .contact0 button{background-color: transparent; display: block; line-height: 2.5rem;}
  .contact0 i{font-size: 2rem; opacity: 0.7; cursor: pointer; color: rgb(4, 0, 19);}
  /*Send E-mail*/
  #mail{width: 90%; height: 90%; position: absolute; left: 0; right: 0; margin: 2rem auto; justify-content: center;}

}

/*769px — 1024px: Small screens, laptops*/
@media (min-width:769px) and (max-width:1024px){
  *{font-size: medium;}
}

@media (min-width:1025px) and (max-width:1200px){
  *{font-size: large;}
}

@media (min-width:1201px) and (max-width:1500px){
  *{font-size: x-large;}
}

@media (min-width:1501px) and (max-width:1700px){
  *{font-size: x-large;}
}

@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
 /*use CSS to swap out your low res images with high res ones here*/
}   